body{
    background-color: rgb(30, 28, 40);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.433);
    border-radius: 10px;
  }
 ::-webkit-scrollbar{
    width: 5px;
 }
#menugauche{
    overflow: scroll;
    width: 250px;
    height: 730px;
    background-color: rgb(47, 35, 35);
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 6px 6px rgba(255, 255, 255, 0.096);
}
#menugauche h2{
    color: rgb(169, 168, 168);
    font-size: 18px;
    position: absolute;
    left: 50px;
}
#menugauche img[alt="profil"]{
    width: 35px;
    position: absolute;
    left: 10px;
    top: 9px ;
}
#menugauche ul{
    z-index: -1;
    position: absolute;
    top: 60px;
    left: -37px;
    list-style-type: none;
}
#menugauche ul li{
    position: relative;
   width: 240px;
   height: 50px;
   background-color: rgba(253, 211, 159, 0.153);
   margin-top: 7px;
   box-shadow: 2px 2px rgba(255, 255, 255, 0.677);
   border-radius: 5px;
  
}
#menugauche ul li:hover{
    background-color: rgba(255, 255, 255, 0.474);
    
}
#menugauche ul li a{
   
    
    position: relative;
    left: 46px;
    top: 12px;
    color: white;
    text-decoration: none;
    
    
}
#menugauche ul li img[alt="stat"]{
    width: 35px;
    position: absolute;
    left: auto;
    margin-left: 5px;
    margin-top: 5px;
}
#menugauche ul li img[alt="fiche"]{
    width: 35px;
    position: absolute;
    left: auto;
    margin-left: 5px;
    margin-top: 5px;
}
#menugauche ul li img[alt="recherche"]{
    width: 35px;
    position: absolute;
    left: auto;
    margin-left: 5px;
    margin-top: 5px;
}
#menuhaut{
    width: 99.44%;
    height: 50px;
    position: absolute;
    top:0px;
    background-color: rgb(47, 35, 35);
}
#menuhaut img[alt="menu"]{
    width: 22px;
    position: absolute;
    left: 255px;
    top: 12px;
}
#menuhaut img[alt="notification"]{
    width: 35px;
    float: right;
    position: absolute;
    right: 90px;
    top: 6px;
}
#menuhaut img[alt="notes"]{
    width: 25px;
    float: right;
    position: absolute;
    right: 60px;
    top: 10px;
}
#menuhaut img[alt="utilisateur"]{
    width: 25px;
    float: right;
    position: absolute;
    right: 20px;
    top: 10px;
}
#title{
    position: absolute;
    top: 70px;
    left: 330px;
    width: 75%;
    height: 75px;
    background-color: rgb(49, 49, 76);
    border-radius: 7px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.245);
}
#title h1{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#courbe{
    position: absolute;
    top: 165px;
    left: 330px;
    background-color: rgb(101, 101, 105);
    width: 75%;
    height: 80%;
    border-radius: 7px;

}
#courbe input[name="double"]{
    width:90% ;
    height: 130px;
    position: absolute;
    top: 80px;
    left: 70px;
    font-size: 70px;
    text-align: center;
    border-radius: 6px;
}
#courbe input[value="VERIFIER"]{
    position: absolute;
    width: 40%;
    height: 80px;
    background-color: rgb(1, 1, 60);
    color: white;
    left: 300px;
    top: 220px;
    font-size: 30px;
    border-radius: 6px;
}
#s1{
    width: 100%;
    height: 150px;
    background-color: rgb(60, 60, 57);
    border-radius: 10px;
}
#s1 div{
    background-color: white;
    width: 400px;
    height: 120px;
    float: left;
    position: relative;
    top: 5px;
    margin-left: 130px;
    border-radius: 7px;
}
#s1 div h3{
    font-size: 22px;
    text-align: center;
    color: rgb(189, 98, 7);
}